<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body style="background: grey; color: white">

    <header>
      
      <h1>My personal page</h1>
      <nav>
        <a href="/" style="padding-right: 15px; text-decoration: none; color:burlywood">Home</a>
        <a href="/about" style="padding-right: 15px; text-decoration: none; color:burlywood">About</a>
        <a href="/contact" style="padding-right: 15px; text-decoration: none; color:burlywood">Contact</a>
        <a href="/info" style="padding-right: 15px; text-decoration: none; color:burlywood">Info</a>
        <a href="/history" style="padding-right: 15px; text-decoration: none; color:burlywood">History</a>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>